<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <div class="centeredDiv" style="margin-top: -80px; display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705958769796&to=1705980369796&theme=light&panelId=1" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959353889&to=1705980953889&theme=light&panelId=2" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705946760277&to=1705968360277&theme=light&panelId=11" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959098080&to=1705980698080&theme=light&panelId=10" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705958837265&to=1705980437265&theme=light&panelId=12" width="450" height="300"  frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959541461&to=1705981141461&theme=light&panelId=6" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959615719&to=1705981215719&theme=light&panelId=4" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959672030&to=1705981272030&theme=light&panelId=5" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959719993&to=1705981319993&theme=light&panelId=9" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959799506&to=1705981399506&theme=light&panelId=7" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959847474&to=1705981447474&theme=light&panelId=8" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705959890822&to=1705981490822&theme=light&panelId=13" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705960000606&to=1705981600606&theme=light&panelId=14" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1548215310007&to=1705981710007&theme=light&panelId=15" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705895374144&to=1705981774144&theme=light&panelId=3" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705550154249&to=1705982154249&theme=light&panelId=16" width="450" height="300" frameborder="0"></iframe>
    </div>
</div>
</body>
