<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <div class="centeredDiv" style="margin-top: -80px; display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=1" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=2" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=11" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=10" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=12" width="450" height="300"  frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=6" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=4" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=5" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=9" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=7" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=8" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=13" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=14" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=15" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=3" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=16" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
    <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=17" width="450" height="300" frameborder="0"></iframe>
    </div>
    <div style="margin: 10px; flex: 1;">
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&refresh=auto&theme=light&panelId=18" width="450" height="300" frameborder="0"></iframe>
    </div>
</div>
</body>
