<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <div class="centeredDiv" style="margin-top: -80px;">
    <div>
        <iframe src="http://localhost:3000/d-solo/ae8fd836-613f-41d3-a6e4-2a2636927e25/iot?orgId=1&from=1705946760277&to=1705968360277&theme=light&panelId=11" width="450" height="200" frameborder="0"></iframe>
    </div>

</div>
</body>
