
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
    padding-top: 5px !important;
}	

.modal-body{
    margin: 20px;
    width: 350px;
    height: fit-content;
    text-align: center;
    justify-content: center;
}

#confButton{
    background-color: #80c5e6;
    font-weight: bold;
    margin: 10px auto;

  }

  mat-error{
    color: blueviolet;
    font-size: 13px;
    text-align: center;
    justify-content: center;
  }

  p{
    margin: 3px auto;
  }

  .remote-control {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: black;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .button-remote {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button[data-color="#3498db"] {
    background-color: white; /* Boja za dugme sa color="#3498db" */
  }

  button[data-color="#FF0000"] {
    background-color: rgb(252, 19, 19); /* Boja za dugme sa color="#3498db" */
  }
#cancButton{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    margin: 10px auto;
    width: 100px;
  }

  p{
    color: blueviolet;
    text-align: center;
    justify-content: center;
  }

