<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
   <div class="dialog-container" style="z-index: 999;">
		<div class="modal-content">
			<div class="modal-body">
                <div class="remote-control">
                    <button class="button-remote" *ngFor="let button of buttons" (click)="onButtonClick(button) " [attr.data-color]="button.color">
                      {{ button.label }}
                    </button>
                  </div>  
			</div>
            <button mat-raised-button (click)="closeDialog()"  id="cancButton">Cancel</button> 
			
		</div>

   </div>
</body>



